# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/
/Necessary_Packages/mips-x86.linux-xgcc/
/Necessary_Packages/nachos-3.4/code/test/nachos
/Necessary_Packages/nachos-3.4/code/threads/nachos
/Necessary_Packages/nachos-3.4/code/userprog/nachos
/Necessary_Packages/nachos-3.4/code/bin/coff2noff
Necessary_Packages/nachos-3\.4/code/\.settings/

Necessary_Packages/nachos-3\.4/code/\.cproject

Necessary_Packages/nachos-3\.4/code/\.project

\.project

Necessary_Packages/nachos-3\.4/code/vm/swtch\.s

Necessary_Packages/nachos-3\.4/code/vm/nachos

Necessary_Packages/nachos-3\.4/code/userprog/swtch\.s

Necessary_Packages/nachos-3\.4/code/test/halt

*.coff

Necessary_Packages/nachos-3\.4/code/test/matmult

Necessary_Packages/nachos-3\.4/code/test/sort

Necessary_Packages/nachos-3\.4/code/test/shell

Necessary_Packages/nachos-3\.4/code/threads/swtch\.s
